html {
  font-size: 100%;
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.125em;
  line-height: 1.3;
  font-family: 'Public Sans', sans-serif;
  color: $darkGrey;

  &.noscroll {
    overflow: hidden;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

// flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// buttons
button, 
.button {
  padding: 0.875rem 2.175rem;
  background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  border: 0;
  border-radius: 50px;
  color: $white;
  font-weight: 500;
}

// visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
