main {
  margin-top: 3.125rem;

  .full-screen-section {
    height: 100vh;
  }

  .container {
    max-width: 69.375rem;
    margin: 0 auto;
    padding: 0.875em;

    @include breakpoint-up(medium) {
      padding: 2em;
    }
  }

  .dark-bg {
    background-color: #575757;
    color: $white;
    font-size: 1.875em;
  }

  .banner-text {
    text-align: center;

    > span {
      display: block;

      &.h1 {
        font-size: 1.5em;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: .25em;
      }

      &.colored-text {
        font-size: 1.25em;
        line-height: 1.6;
        color: #0d3192;
      }

      &.dark-text {
        font-size: 1.875em;
        color: #464646;
      }
    }
  }

  // #about {
  //   background-image: url("../../images/plumbing-vector.png");
  //   background-repeat: no-repeat;
  //   background-position: left center;
  //   background-size: 90% auto;
  // }

  #services {
    background-color: #eee;
  }

  .services-grid {

    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .service-item {
    padding: 0.9375rem;

    @include breakpoint-up(medium) {
      flex: 0 0 50%;
    }

    @include breakpoint-up(large) {
      flex: 1;
    }
  }
}

.contact-email {
  color: $white;
  text-decoration: underline;

  @include breakpoint-down(medium) {
    font-size: 18px;
  }
}
